/bootstrap/compiled.php
.env.*.php
.env.dbdump
.env.php
/node_modules
/public/hot
/public/storage
/public/uploads
/public/assets/css
!/public/assets/img/*
/public/css
/storage/*.key
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
/public/js
/public/assets/js
/public/fonts
updates/
resources/lang/en.json
.env
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject


#Eim Solutions Updates
/public/js/app.js
/storage/logs/*.log
storage/framework/maintenance.php
public/assets/img/.DS_Store
composer.phar
/cypress/videos/*
/cypress/screenshots/*
