/bootstrap/compiled.php
.env.*.php
.env.dbdump
.env.php
synco
*.swp
/node_modules
/public/hot
/public/storage
/public/uploads
/public/assets/css
!/public/assets/img/*
/public/css
/public/themes
/public/themes/*
/storage/*.key
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
/public/js
/public/assets/js
/public/fonts
updates/
resources/lang/en.json
.env
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
/public/vendor/nova/fonts

#Eim Solutions Updates
/public/js/app.js
/storage/logs/*.log
storage/framework/maintenance.php
public/assets/img/.DS_Store
composer.phar
/cypress/videos/*
/cypress/screenshots/*
storage/*
public/themes/ev-saas-default/css/*
public/themes/ev-saas-default/js/*
public/themes/EvTailwind/js/*
public/themes/EvTailwind/css/*
resources/scss/tenants/*
resources/scss/dependencies/*.css
resources/scss/dependencies/*.css.map
resources/scss/dependencies/vendor/*.css
resources/scss/dependencies/vendor/*.css.map
resources/scss/pages/*.css
resources/scss/styleguide/*.css
resources/scss/styleguide/*.css.map
themes/*/scss/*.css
themes/*/scss/*.css.map
resources/scss/pages/*.css.map
.env
.idea/modules.xml
resources/scss/themes/front/theme.css
*.map
public/ev-assets/front/svg/*
public/assets/admin/*
public/ev-assets/admin/css/admin.css
react-feeds-example/*
public/themes/ev-saas-default/mix-manifest.json
public/themes/ev-saas-default/mix-manifest.json
themes/features/we-edit/node_modules/*
.env.backup

!public/images
vendor-d/*
public/vendor/nova/vendor.js.LICENSE.txt
