/*------------------------------------
  Custom Select
------------------------------------*/

.custom-select,
.custom-control-label {
  cursor: pointer;
}

.form-control {
  .custom-control-label {
    width: 100%;

    &::before, &::after {
      top: 0.2rem;
    }
  }
}