<section class="bg-[#F5F5F5] py-[40px] sm:py-[50px] md:py-[80px] bg-white">
    <div class="container !max-w-[90%]">
        <div class=" text-center">
            <div we-slot="" name="tagline_slot" we-title="Tagline" class="w-full">
                <h3 we-name="tagline" we-title="Title"
                    class="text-18 font-semibold tracking-wider text-primary uppercase mb-2">
                    Testimonials
                </h3>
            </div>
            <h2 class="text-28 md:text-[48px] font-black leading-[28px] md:leading-[48px] text-gray-900 mb-3">We put our
                clients first</h2>
            <p class="text-18 text-gray-600">All of our tools and technologies are designed, modiefied &amp; <br
                    class="d-inline"> updated keeping your needs in mind</p>
        </div>
        <div class="client-content pt-10 grid grid-cols-2 gap-10">
            <div class="col-span-2 md:col-span-1">
                <div class="px-8 py-5 bg-white shadow-2xl rounded-sm hover:shadow-4xl transition-all duration-300"
                    style="background-image: url(assets/images/quate.png); background-repeat: no-repeat; background-position: top 20px center;">
                    <p class="py-7 text-center"> “Thanks to PixPro guys we were able to expand our service (we were not
                        aware before) for our customers by using the PixPro photogrammetry app.”</p>
                    <div class="flex gap-4 items-center justify-center pb-4">

                        <div>
                            <h5 class="text-16 text-gray-900 font-medium">Gediminas Mažeika</h5>
                            <p class="text-gray-500 text-14">Director, UAB “Tetas”</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-2 md:col-span-1">
                <div class="px-8 py-5 bg-white shadow-2xl rounded-sm hover:shadow-4xl transition-all duration-300"
                    style="background-image: url(assets/images/quate.png); background-repeat: no-repeat; background-position: top 20px center;">
                    <p class="py-7 text-center"> “Now it is easier than ever before – fast and accurate design of
                        solar panels on the roof.
                        And there is no need to
                        access the roof in the design stage.”</p>
                    <div class="flex gap-4 items-center justify-center pb-4">

                        <div>
                            <h5 class="text-16 text-gray-900 font-medium">Tomas Šimanauskas</h5>
                            <p class="text-gray-500 text-14">Director, UAB “Saulės grąža”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center mt-8 gap-3">
            <a href="/users/login" class="mb-0 text-lg2 font-bold text-primary-dark underline ">Start Free 1 Month TrialNow</a>
        </div>
    </div>
</section>