/* Generate square classes */
@for $wh from 14 through 32 {
    .square-#{$wh} {
        width: $wh + px;
        height: $wh + px;
    }
}

/* Generate font-weight classes */
@for $fw from 100 through 900 {
    .fw-#{$fw} {
        font-weight: $fw;
    }
}

/* Generate font-size classes */
@for $fs from 8 through 46 {
    .text-#{$fs} {
        font-size: $fs + px;
    }
}

/* Generate opacity classes */
@for $o from 1 through 10 {
    .opacity-#{$o} {
        opacity: $o / 10;
    }
}

/* Generate z-index classes */
@for $zi from 10 through 100 {
    .z-#{$zi} {
        z-index: $zi;
    }
}

/* Absolute horizontal/vertical centering */
.absolute-center {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.pointer {
    cursor: pointer;
}

.avatar, .fit-cover {
    object-fit: cover;
}

.flex-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-max-height {
    max-height: none !important;
}
