/* Generate max-width classes */
@for $mw from 1 through 10 {
    .max-w-#{$mw*10} {
        max-width: round(percentage($mw*0.1));
    }
}

/* Generate square classes */
@for $wh from 8 through 32 {
    .square-#{$wh} {
        width: $wh + px;
        height: $wh + px;
    }
    .square-#{$wh}-i {
        width: $wh + px !important;
        height: $wh + px !important;
    }
}

/* Generate font-weight classes */
@for $fw from 100 through 900 {
    .fw-#{$fw} {
        font-weight: $fw;
    }
}

/* Generate font-size classes */
@for $fs from 8 through 46 {
    .text-#{$fs} {
        font-size: $fs + px;
    }
    .text-#{$fs}-i {
        font-size: $fs + px !important;
    }
}

/* Generate line-height classes */
@for $lh from 5 through 20 {
    .lh-#{$lh} {
        line-height: $lh * 0.1;
    }
}

/* Generate opacity classes */
@for $o from 0 through 10 {
    .opacity-#{$o} {
        opacity: $o * 0.1;
    }
    .opacity-#{$o}-i {
        opacity: $o * 0.1;
    }
}

/* Generate z-index classes */
@for $zi from 10 through 100 {
    .z-#{$zi} {
        z-index: $zi;
    }
}

.d-grid {
    display: grid;
}

.full-row {
    width: calc(100% + 30px);
}

/* Absolute horizontal/vertical centering */
.absolute-center {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.pointer {
    cursor: pointer;
}

.prevent-pointer-events {
    pointer-events: none;
}

.noselect {
    user-select: none;
}

.avatar, .fit-cover {
    object-fit: cover;
}

.flex-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-max-height {
    max-height: none !important;
}

.divider {
    &-half-left, &-half-right, &-third-left, &-third-right {
        &:before {
            display: none;
        }
    }

    &-half-left {
        &:after {
            flex: 0 0 50%;
            margin-right: auto;
        }
    }
    &-half-right {
        &:after {
            flex: 0 0 50%;
            margin-left: auto;
        }
    }
    &-third-left {
        &:after {
            flex: 0 0 33%;
            margin-right: auto;
        }
    }
    &-third-right {
        &:after {
            flex: 0 0 33%;
            margin-left: auto;
        }
    }
}

.circle-dynamic {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    border-radius: 50%;
    vertical-align: middle;

    &:before {
        content:'';
        float: left;
        width: auto;
        padding-bottom: 100%;
    }
}


.transition {
    transition-property: all;

    &.ease-out {
        transition-timing-function: ease-out;
    }
    &.ease-in {
        transition-timing-function: ease-in;
    }
    &.ease-in-out {
        transition-timing-function: ease-in-out;
    }

    &.duration-300 {
        transition-duration: 300ms
    }
    &.duration-500 {
        transition-duration: 500ms
    }
    &.duration-800 {
        transition-duration: 800ms
    }
    &.duration-1000 {
        transition-duration: 1000ms
    }
}

.list-style-none {
    list-style: none;
}

.input-group-text {
    // This is wrong because it needs to use SM variables from bootstrap...
    &-sm {
        height: calc(1.5em + 1.375rem);
        padding: 0.625rem 1.125rem !important;
        font-size: 0.875rem !important;
        line-height: 1.5;
        border-radius: 0.25rem;
    }
}

.custom-select {
    &-sm {
        height: calc(1.5em + 1.375rem);
        padding: 0.625rem 1.125rem;
        font-size: 0.875rem;
        line-height: 1.5;
    }
}

.rotate {
    &-180 {
        transform: rotate(180deg);
    }
}