/*------------------------------------
  File for your custom SCSS style
------------------------------------*/

@import "components";
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

/* TODO: IMPORTANT!
Make this wrapper component to add ev-icon class on all icons by default,
meanwhile use .ev-icon class for adding icons
 */
.ev-icon {
    width: 45px;

    &__small {
        width: 30px;
    }
    &__large {
        width: 80px;
    }
    &__xs {
        width: 20px;
    }

    [data-toggle="collapse"]:not(.collapsed) > &.chevron-down {
        transform: rotate(180deg);
    }
}

#product-gallery-hero {
    margin-top: -140px;
    padding-top: 160px !important;
    padding-bottom: 100px !important;
    margin-bottom: -60px;
    @media(max-width: 768px) {
        margin-bottom: -20px;
    }
}

.c-single-vendor-hero {
    margin-top: -130px;
    @media(max-width: 768px) {
        margin-top: -30px;
    }
}

[x-cloak] { display: none !important; }

img {
    max-width: 100%;
    height: auto;
}

/*------------------------------------
  Toast
------------------------------------*/
.toast {
    position: fixed;
    z-index: 9999;

    &.top-right {
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    &.top-left {
        top: 20px;
        left: 30px;
    }
    &.top-right {
        top: 20px;
        right: 30px;
    }
    &.bottom-center {
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    &.bottom-left {
        bottom: 20px;
        left: 30px;
    }
    &.bottom-right {
        bottom: 20px;
        right: 30px;
    }
}

.ev-brand-image-small {
    max-height: 25px;
    width: auto;
    max-width: 80%;
}


.ev-product-card {
    &__img {
        height: 200px;
        object-fit: cover;
    }

    .hover-only {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        left: 0;
        opacity: 0;
        transition: .2s ease-in-out;
        background: white;
    }

    &:hover {

        .hover-only {
            opacity: 1;
        }
    }

}

.section-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 50px;
    border-bottom: 2px solid var(--color-primary);
    border-bottom: 2px solid #0068e1;
}

/* Fix For Equal height columns while ussing swiper option: autoHeight: true, */
.swiper-autoheight, .swiper-autoheight .swiper-slide {
    height: 100% !important;
}

/**
 * ==============================================
 * Select2 dropdown
 * ==============================================
 */
.custom-select {
    &[aria-disabled="true"] {
        opacity: 0.5;
        pointer-events: none;
    }
}

/**
 * ==============================================
 * File Uplaoder and modal
 * ==============================================
 */
#aizUploaderModal .close {
    width: 30px;
    height: 30px;
}
.uppy-Root *:focus {
    outline: none !important;
}
.uppy-Dashboard {
    height: 100%;
}
.uppy-size--md .uppy-DashboardItem-progressIndicator,
.uppy-DashboardContent-bar .uppy-DashboardContent-back {
    visibility: hidden;
    opacity: 0;
}
.uppy-Dashboard-inner {
    width: 100% !important;
    height: 100% !important;
}
.uppy-Root {
    height: 100% !important;
}
.uppy-DashboardContent-addMore svg {
    margin-bottom: 0;
}
.uppy-Dashboard-files [role="presentation"] {
    display: flex;
    width: 100%;
}
.card-file {
    padding: 8px;
    position: relative;
    border: 1px solid #dfe0e4;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
}

.card-file .card-body h6 {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.card-file .card-body p {
    margin-bottom: 0;
    font-size: 9px;
    color: #8392a5;
}
.card-file .card-file-thumb {
    height: 120px;
    background-color: #f5f6fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-file .card-body {
    padding: 10px 0 0;
}

.card-file .card-file-thumb i {
    font-size: 50px;
    color: #b3becc;
}

.aiz-uploader-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
[data-toggle="aizuploader"] {
    cursor: pointer;
}
.aiz-uploader-all {
    margin-left: -10px;
    margin-right: -10px;
    overflow-y: auto;
    height: calc(100vh - 303px);
}
.uppy-Dashboard-files {
    max-height: calc(100vh - 363px);
}
.aiz-file-box-wrap {
    padding: 0 10px;
    width: 50%;
    float: left;
}
.aiz-file-box-wrap[aria-hidden="true"] {
    display: none;
}
.aiz-file-box {
    position: relative;
}
.aiz-file-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.aiz-file-box .dropdown-file {
    position: absolute;
    top: 6px;
    right: 9px;
    z-index: 1;
}
.aiz-file-box .dropdown-file > a {
    color: #5a5a5a;
    font-size: 22px;
    background: #f5f6fa;
    cursor: pointer;
}
.aiz-file-box .card-file {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}
.aiz-file-box .card-file .card-file-thumb {
    position: absolute;
    width: calc(100% - 16px);
    top: 8px;
    left: 8px;
    height: calc(100% - 55px);
}

.aiz-file-box .card-file .card-body {
    position: absolute;
    width: calc(100% - 16px);
    bottom: 5px;
    left: 8px;
}
[data-selected="true"] .aiz-uploader-select {
    border-color: #007bff;
    border-width: 1px;
    background: rgba(0, 123, 255, 0.05);
}
.modal-adaptive {
    height: calc(100vh - 60px);
    margin: 30px auto !important;
}

/*File preview + remove*/
.file-preview-item h6 {
    font-size: 13px;
    margin-bottom: 0;
}

.file-preview-item {
    padding: 8px;
    border: 1px solid #ebedf2;
    border-radius: 0.25rem;
}

.file-preview-item p {
    font-size: 10px;
    margin-bottom: 0;
    color: var(--secondary);
}
.file-preview-item .thumb {
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    max-width: 50px;
    height: 45px;
    width: 50px;
    text-align: center;
    background: #f1f2f4;
    font-size: 20px;
    color: #92969b;
    border-radius: 0.25rem;
    overflow: hidden;
}
.file-preview-item .remove {
    -ms-flex: 0 0 52px;
    flex: 0 0 52px;
    max-width: 52px;
    width: 52px;
}
.file-preview-item .body {
    min-width: 0;
}

.file-preview.box a {
    color: inherit;
}
.file-preview.box:after {
    content: "";
    clear: both;
    display: table;
}
.file-preview.box .file-preview-item {
    width: 160px;
    float: left;
    margin-right: 0.5rem;
    padding: 0;
    display: block !important;
    position: relative;
}
.file-preview.box .thumb {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.file-preview.box.sm .file-preview-item {
    width: 100px;
}
.file-preview.box.sm .thumb {
    height: 52px;
}

.file-preview.box .body {
    padding: 0;
    padding: 8px 8px 2px;
}
.file-preview.box .remove {
    position: absolute;
    top: -6px;
    right: -6px;
    width: auto;
    max-width: 100%;
}
.file-preview.box .remove .btn {
    padding: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #eaeaea;
}

@media (min-width: 576px) {
    /*sm*/
    .modal-adaptive {
        max-width: 540px;
    }
    .aiz-file-box-wrap {
        width: 25%;
    }
}
@media (min-width: 768px) {
    /*md*/
    .modal-adaptive {
        max-width: 720px;
    }
    .aiz-file-box-wrap {
        width: 25%;
    }
}
@media (min-width: 992px) {
    /*lg*/
    .modal-adaptive {
        max-width: 960px;
    }
    .aiz-file-box-wrap {
        width: 25%;
    }
}
@media (min-width: 1200px) {
    /*xl*/
    .modal-adaptive {
        max-width: 1140px;
    }
    .aiz-file-box-wrap {
        width: 25%;
    }
}
@media (min-width: 1500px) {
    /*xxl*/
    .modal-adaptive {
        max-width: 1400px;
    }
}
@media (max-width: 767px) {
    .aiz-uploader-search i {
        font-size: 23px;
        cursor: pointer;
        padding: 4px;
        margin-right: 5px;
        position: relative;
        z-index: 2;
        top: 3px;
    }

    .aiz-uploader-search input {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }

    .aiz-uploader-search.open input {
        visibility: visible;
        opacity: 1;
    }
}


/**
 * ==============================================
 * Category Mega Menu
 * ==============================================
 */
.aiz-category-menu .sub-cat-menu {
    display: none;
    position: absolute;
    width: calc(100% - 25%);
    left: calc(25% - 10px);
    height: calc(100% + 20px);
    overflow: hidden;
    top: 0;
    z-index: 9;
    background-color: #fff;
    overflow-y: auto;
}
[dir="rtl"] .aiz-category-menu .sub-cat-menu{
    left: auto;
    right: calc(25% - 10px);
}
.aiz-category-menu .category-nav-element:hover .sub-cat-menu{
    display: block;
}
.aiz-category-menu .category-nav-element:hover > a{
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: -2px 3px 5px rgb(0 0 0 / 0.1);
}
.hover-category-menu .all-category::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 20px;
    bottom: 100%;
    right: 0;
}
.hover-category-menu .all-category::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-top: 0;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--soft-primary);
    border-left: 12px solid transparent;
    top: -12px;
    right: 20px;
}
[dir="rtl"] .hover-category-menu .all-category::before {
    left: 20px;
    right: auto;
}

/*------------------------------------
  Form Control
------------------------------------*/
.form-control {
    &:disabled, &[readonly] {
        opacity: 0.5;
    }
}

/*------------------------------------
  Product Form
------------------------------------*/
#product_variations_modal {
    .table {
        td .form-group {
            margin-bottom: 0;
        }
    }
    .dropdown-menu {
        min-width: 9.4375rem;
    }
}


/*------------------------------------
  Specifications
  TODO: Create component SCSS for this!
------------------------------------*/
.specification-row .title h5 {
    font-size: 18px;
}

.specification-list {
    padding: 35px 30px 34px;
    font-size: 15px;

    li {
        display: flex;
        margin-bottom: 18px;
    }

    label {
        font-weight: 600;
        line-height: 23px;
        width: 190px;
        min-width: 190px;
        margin-bottom: 0;
    }

    span {
        line-height: 23px;
        color: #6e6e6e;
    }
}
