// Bootstrap setup
@import '~bootstrap/scss/functions';
@import 'user-variables';


// Front setup
// IMPORTANT NOTE 1: Variables file (either theme default or tenant-theme) is prepended on webpack compile! Check `additionalData` option in .sass `pluginOptions` argument in webpack.mix.js (for more info, check: https://webpack.js.org/loaders/sass-loader/#additionaldata)!
// IMPORTANT NOTE 2: SCSS variables are defined per TENANT and THEME, if tenant doesn't have it's own variables file for chosen theme -
// scss file will be generated dynamically here: resources/tenants/{tenant_id}/_variables-{theme_name}.scss
// After variables file for tenant|theme combination is generated, tenant main scss file will be compiled!
// NOTE: Default tenant variables are actually default theme variables, and also if tenant doesn't have it's main scss file in /public folder, default theme scss will be used (app.scss)
//@import 'themes/default';

// Bootstrap core
//@import '~bootstrap/scss/bootstrap';
@import 'vendor/bootstrap';
@import 'front-dashboard/variables';

@import 'front/variables';

// VENDOR
@import "~quill/dist/quill.snow.css"; // this will be moved to the beginning of the compiled file, cuz it's css, check: https://github.com/laravel-mix/laravel-mix/issues/429
@import "~flatpickr/dist/flatpickr.min.css"; // this will be moved to the beginning of the compiled file, cuz it's css, check: https://github.com/laravel-mix/laravel-mix/issues/429
@import "~uppy/src/style.scss";
@import "~select2/src/scss/core.scss";
@import "~ion-rangeslider/css/ion.rangeSlider.min.css";
@import "~daterangepicker/daterangepicker.css";

// Front Dashboard Custom
@import "vendor/flatpickr";
@import "vendor/fullcalendar";
@import "vendor/ion-range-slider";
@import "vendor/daterangepicker";


/*----------------------------------------------------------------------
  * Front - Responsive Website Template version v3.3.0
  * Copyright 2018 Htmlstream
  * Licensed under Bootstrap Themes (https://themes.getbootstrap.com/licenses/)
------------------------------------------------------------------------*/
@import 'front/front';
@import 'front-dashboard/front-dashboard';

// Custom core
@import 'mixins';
@import 'user';
@import 'custom';


.we-horizontal-slider {
    @media(max-width: 768px) {
        flex-wrap: nowrap !important;
        overflow-x: scroll;
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;
}

}

