:root {
    --primary: pink;
    --secondary: blue;
}

.specification-row .title h5 {
  font-size: 18px;
}

.specification-list {
  padding: 35px 30px 34px;
  font-size: 15px;

  li {
    display: flex;
    margin-bottom: 18px;
  }

  label {
    font-weight: 600;
    line-height: 23px;
    width: 190px;
    min-width: 190px;
    margin-bottom: 0;
  }

  span {
    line-height: 23px;
    color: #6e6e6e;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// Bootstrap setup
@import '~bootstrap/scss/functions';

// Front setup
@import 'themes/default';

@import 'front/variables';

@import 'front-dashboard/variables';

@import 'user-variables';

// Bootstrap core
@import '~bootstrap/scss/bootstrap';

// VENDOR
@import "~quill/dist/quill.snow.css"; // this will be moved to the beginning of the compiled file, cuz it's css, check: https://github.com/laravel-mix/laravel-mix/issues/429
@import "~flatpickr/dist/flatpickr.min.css"; // this will be moved to the beginning of the compiled file, cuz it's css, check: https://github.com/laravel-mix/laravel-mix/issues/429
@import "~uppy/src/style.scss";
@import "~select2/src/scss/core.scss";
@import "~ion-rangeslider/css/ion.rangeSlider.css";
@import "~daterangepicker/daterangepicker.css";
@import "vendor/flatpickr";
@import "vendor/select2";
@import "vendor/ion-range-slider";
@import "vendor/daterangepicker";

/*----------------------------------------------------------------------
  * Front - Responsive Website Template version v3.3.0
  * Copyright 2018 Htmlstream
  * Licensed under Bootstrap Themes (https://themes.getbootstrap.com/licenses/)
------------------------------------------------------------------------*/
@import 'front/front';

// Custom core
@import 'user';
@import 'custom';
