<div
    class="relative bg-white py-16 sm:py-24 lg:py-32 lg:pt-[80px] lg:pb-[80px] sm:pt-[50px] sm:pb-[50px] pt-[40px] pb-[40px] bg-[#fff]">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <div we-slot="" name="tagline_slot" we-title="Tagline" class="w-full">
            <h3 we-name="tagline" we-title="Title" class="text-18 font-semibold tracking-wider text-primary uppercase">
                Features
            </h3>
        </div>

        <div we-slot="" name="title_slot" we-title="Title" class="w-full">
            <h2 we-name="title" we-title="Title"
                class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-5xl">
                Every tool needed under one roof
            </h2>
        </div>

        <div we-slot="" name="subtitle_slot" we-title="Subtitle" class="w-full">
            <p we-name="subtitle" we-title="Subtitle" class="mx-auto mt-5 max-w-prose text-xl text-gray-500">
                We faciliated all the tools and technology you need to digitally
                create your records and enrich them with beautiful, accurate and
                life-like 3D models
            </p>
        </div>

        <div we-slot="" name="itt_group_slot" we-title="Features" class="w-full mt-12">
            <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
                <div class="pt-6">
                    <div class="flow-root bg-white rounded-lg border border-gray-200 hover:shadow-lg px-6 py-5 h-full">
                        <div class="-mt-6 h-full">
                            <div class="w-full aspect-square inline-flex items-center justify-center rounded-md">
                                <img src="https://images.we-saas.com/insecure/fill/350/0/ce/0/plain/https://ev-saas.fra1.digitaloceanspaces.com/uploads/200203e2-4466-464d-a2fe-df1bc05bc2fa/1650039313_3d-measurements.svg@webp"
                                    alt="" class="" />
                            </div>

                            <div class="w-full">
                                <h4 class="mt-8 text-20 font-medium tracking-tight text-gray-900 max-w-[250px] mx-auto">
                                    Detailed, quick, precise 2D, 3D measurements
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-6">
                    <div class="flow-root bg-white rounded-lg border border-gray-200 hover:shadow-lg px-6 py-5 h-full">
                        <div class="-mt-6 h-full">
                            <div class="w-full aspect-square inline-flex items-center justify-center rounded-md">
                                <img src="https://images.we-saas.com/insecure/fill/350/0/ce/0/plain/https://ev-saas.fra1.digitaloceanspaces.com/uploads/200203e2-4466-464d-a2fe-df1bc05bc2fa/1650039310_interactive-digital-elevation-map.svg@webp"
                                    alt="" class="" />
                            </div>

                            <div class="w-full">
                                <h4 class="mt-8 text-20 font-medium tracking-tight text-gray-900 max-w-[250px] mx-auto">
                                    Interactive digital elevation maps
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-6">
                    <div class="flow-root bg-white rounded-lg border border-gray-200 hover:shadow-lg px-6 py-5 h-full">
                        <div class="-mt-6 h-full">
                            <div class="w-full aspect-square inline-flex items-center justify-center rounded-md">
                                <img src="https://images.we-saas.com/insecure/fill/350/0/ce/0/plain/https://ev-saas.fra1.digitaloceanspaces.com/uploads/200203e2-4466-464d-a2fe-df1bc05bc2fa/1650039311_orthophoto-imagery.svg@webp"
                                    alt="" class="" />
                            </div>

                            <div class="w-full">
                                <h4 class="mt-8 text-20 font-medium tracking-tight text-gray-900 max-w-[250px] mx-auto">
                                    True Orthophoto imagery
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-6">
                    <div class="flow-root bg-white rounded-lg border border-gray-200 hover:shadow-lg px-6 py-5 h-full">
                        <div class="-mt-6 h-full">
                            <div class="w-full aspect-square inline-flex items-center justify-center rounded-md">
                                <img src="https://images.we-saas.com/insecure/fill/350/0/ce/0/plain/https://ev-saas.fra1.digitaloceanspaces.com/uploads/200203e2-4466-464d-a2fe-df1bc05bc2fa/1650039310_3d-mesh-animation.svg@webp"
                                    alt="" class="" />
                            </div>

                            <div class="w-full">
                                <h4 class="mt-8 text-20 font-medium tracking-tight text-gray-900 max-w-[250px] mx-auto">
                                    3D meshes for various applications
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-6">
                    <div class="flow-root bg-white rounded-lg border border-gray-200 hover:shadow-lg px-6 py-5 h-full">
                        <div class="-mt-6 h-full">
                            <div class="w-full aspect-square inline-flex items-center justify-center rounded-md">
                                <img src="https://images.we-saas.com/insecure/fill/350/0/ce/0/plain/https://ev-saas.fra1.digitaloceanspaces.com/uploads/200203e2-4466-464d-a2fe-df1bc05bc2fa/1650039311_realistic-textures.svg@webp"
                                    alt="" class="" />
                            </div>

                            <div class="w-full">
                                <h4 class="mt-8 text-20 font-medium tracking-tight text-gray-900 max-w-[250px] mx-auto">
                                    Realistic textures
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-6">
                    <div class="flow-root bg-white rounded-lg border border-gray-200 hover:shadow-lg px-6 py-5 h-full">
                        <div class="-mt-6 h-full">
                            <div class="w-full aspect-square inline-flex items-center justify-center rounded-md">
                                <img src="https://images.we-saas.com/insecure/fill/350/0/ce/0/plain/https://ev-saas.fra1.digitaloceanspaces.com/uploads/200203e2-4466-464d-a2fe-df1bc05bc2fa/1650039310_single-and-generated-conture-lines.svg@webp"
                                    alt="" class="" />
                            </div>

                            <div class="w-full">
                                <h4 class="mt-8 text-20 font-medium tracking-tight text-gray-900 max-w-[250px] mx-auto">
                                    Single and generated contour lines
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div we-slot="" name="button_group_slot" we-title="Buttons" class="w-full mt-[40px]">
            <div class="w-full flex justify-center">
                <div class="rounded-md shadow">
                    <a href="/pages/features"
                        class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-primary hover:bg-primary md:py-4 md:text-lg md:px-10"
                        target="_self">
                        View more features
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>