.c-coockies-agreement {
    /* TODO: Let's introduce propper breakpoints */
    @media (max-width: 768px) {
        z-index: 9999;
        padding: 0 100px 0px 10px;
        left: 0;
        bottom: 100px;

        .alert {
            background: #ffffffd6 !important;
        }
    }

}
