.c-user-side-nav {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @include mobile() {
        flex: 0 0 100%;
        max-width: 100%;
    }

    @include laptop-up() {
        flex: 0 0 23%;
        max-width: 23%;
    }

    @include big-desktop-up() {
        flex: 0 0 20%;
        max-width: 20%;
    }
}
