.c-user-panel {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @include mobile() {
        flex: 0 0 100%;
        max-width: 100%;
    }


    @include laptop-up() {
        flex: 0 0 77%;
        max-width: 77%;
    }

    @include big-desktop-up() {
        flex: 0 0 80%;
        max-width: 80%;
    }
}
