.c-dashboard-panel {
    @include mobile {
        max-width: 100%;
    }

    @include tablet-portrait-up {
        max-width: 100%;
    }

    @include desktop-up { // from 1440px upward, max-width is 90%
        max-width: 90%;
    }
}
