// If Laravel Mix is being used, these 3 have to be added even if JIT is enabled!
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import './custom';
@import './components';

body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.dot-loader > div:nth-child(1) {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.dot-loader > div:nth-child(2) {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

// @import "vendor/line-awesome.min.css";
// @import 'swiper/swiper-bundle.css';

/* EV Saas Class Shortenings */

.ev-button {
    @apply rounded-md shadow w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md hover:bg-gray-50;
}

.ev-button-secondary {
    @apply rounded-md shadow w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md hover:bg-gray-50;
}

.swiper-button-disabled {
    @apply hidden;
}

.swiper-button-next {
    background: linear-gradient(to left, #ffffff, rgba(242, 242, 242, 0));

    &:after {
        font-size: 17px;
        color: #000;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: end;
        position: relative;
        align-items: center;
        top: -9px;
    }
}

.swiper-button-prev {
    background: linear-gradient(to right, #ffffff, rgba(242, 242, 242, 0));

    &:after {
        font-size: 17px;
        color: #000;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: start;
        position: relative;
        align-items: center;
        top: -9px;
    }
}

// WE Select
.we-select {
    &__selector {
        padding: 0.625rem 1.125rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        background-color: #fff;
        background-clip: padding-box;
        font-size: 1rem;
        font-weight: 400;
        align-items: center;

        &-arrow {
            right: 10px;
            color: #ccc;
        }

        &-selected-item {
            position: relative;
            background-color: #e7eaf3;
            border-color: transparent;
            padding-left: 5px;
            margin-right: 10px;
            margin-bottom: 0.35rem;
            display: flex;
            align-items: center;

            &-label {
                cursor: default;
            }

            &-remove {
                cursor: pointer;
                outline: 0;
                border: 0;
                background-color: transparent;

                &:hover {
                    color: red;
                }
            }
        }
    }

    &__dropdown {
        z-index: 100;

        &-list {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            max-height: 260px;
            overflow-y: auto;

            &-item {
                position: relative;

                &:hover {
                    background-color: #5897fb;
                    color: #fff;
                }
                &.selected {
                    background-color: rgba(189, 197, 209, 0.3);
                    color: #1e2022;
                }

                &:hover, &.selected {
                    &:after {
                        position: absolute;
                        top: 50%;
                        right: 0.5rem;
                        width: 1rem;
                        height: 1rem;
                        background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 110 110' fill='%23d14130' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M98.1,16.2c-2.5-2.3-6.4-2.2-8.7,0.2L36.7,70.1l-13-15.5c-2.9-3.5-7.9-4.1-11.1-1.4c-2.9,2.4-3.5,6.6-1.4,10.1l16.5,28c3.2,5.4,10.8,5.8,14.5,0.8l56.5-67.3C100.7,22.1,100.4,18.5,98.1,16.2z'/%3E%3C/svg%3E%0A") no-repeat right center/1rem 1rem;
                        content: "";
                        transform: translateY(-50%);
                    }
                }

                
            }
        }
    }
}


.p-pages-editor {
    &__sections-list {
        .sortable-chosen {
            @apply bg-blue-500 text-white;
            
        }
    }
}