// If Laravel Mix is being used, these 3 have to be added even if JIT is enabled!
@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-loader > div:nth-child(1) {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.dot-loader > div:nth-child(2) {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}