.c-category-list-sidebar {
    user-select: none;

    &__top-item {
        &:not(.collapsed) {
            a {
                text-decoration: underline;
            }
            .ev-icon {
                transform: rotate(180deg);
            }
        }
    }
}
